
body {
  background: url(..//img/fibers.png), #f2f4f4;
}
h1 {
	font-family: 'Rosario', sans-serif;
}
h2, h3 {
	font-family: 'Buenard', serif;
}

p, a {
	font-family: 'Gentium Book Basic', serif;
}

a {
	text-decoration: none;
	color: #3C8577;
}
header {
  display: inline-block;
  width: 90%;
  margin: 0 4% 0 4%;
  padding: 1%;

  /*background: #B6BFBF;*/
  /*border: solid 2px #33E5CF;*/
}

.portrait {
	width: 90%;
	margin: 0 5%;
}

.right {
  width: 60%;
  float: right;
  background: #B6BFBF;
  margin: 2% 4% 0 4%;
  padding: 1%;
  border: solid 2px #33E5CF;
}

nav {
	display: inline-block;
	float: right;
}
nav li {
  	display: inline-block;
	float: left;
	list-style: none;
	margin: 20px 20px 10px 20px;
	
}

 nav ul {
   float: right;
 }

nav a {
	background: -webkit-linear-gradient(top, rgba(36,224,202,1) 9%, rgba(54,206,185,1) 31%, 
		rgba(74,186,166,1) 55%, rgba(74,186,166,1) 79%, rgba(74,186,166,1) 100%);
	color: white;
	padding: 20px 30px;
	border-radius: 5px;
	box-shadow: 2px 2px 15px 0px rgba(13,12,13,1);
}
 nav a:hover {
 	font-size: 1.2em;
 	
 }




.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-1,
.color-2,
.color-3 {
	border: 1px solid #000;
	}

.color-1 {
	background: #57C1AD;
}

.color-2 {
	background: #33E5CF; 
}

.color-3 {
	background: #ed5b6d;
}

.pattern-1,
.pattern-2,
.pattern-3 {
	border: 3px solid #000;

	}
.pattern-2 {
background-image: -webkit-gradient(
		linear,
	left bottom,
	left top,
	color-stop(0.15, #FF778D),
	color-stop(1, #ED5B6C)
		);
     background-image: -webkit-linear-gradient(top, #FF778D 15%, #ED5B6C 100%);

}

.pattern-3 {

	background: -webkit-linear-gradient(top, rgba(36,224,202,1) 9%, rgba(54,206,185,1) 31%, 
		rgba(74,186,166,1) 55%, rgba(74,186,166,1) 79%, rgba(74,186,166,1) 100%);
}
.button a {
	color: white;
}
	.button {
		margin: 5%;
		padding: 3%;
		width: 15%;
		font-size: 1.2em;
		border-radius: 15px;
		
		box-shadow: 2px 2px 15px 0px rgba(13,12,13,1);
	
	/*Gradient*/
	background-image: -webkit-gradient(
		linear,
	left bottom,
	left top,
	color-stop(0.15, #FF778D),
	color-stop(1, #ED5B6C)
		);
     background-image: -webkit-linear-gradient(top, #FF778D 15%, #ED5B6C 100%);

	}
	
.button:visited {

	}

	.button:hover, .buton:active {
		font-size: 1.3em;
	}