
body {
  background: url(..//img/fibers.png), #f2f4f4;
}
h1 {
	font-family: 'Scada', sans-serif;
}
h2, h3 {
	font-family: 'Alike', serif;
}

p {
	font-family: 'Roboto', sans-serif;
}

header {
  display: inline-block;
  width: 90%;
  margin: 0 4% 0 4%;
  padding: 1%;

  /*background: #B6BFBF;*/
  /*border: solid 2px #33E5CF;*/
}

.portrait {
	width: 90%;
	margin: 0 5%;
}

.right {
  width: 60%;
  float: right;
  background: #B6BFBF;
  margin: 2% 4% 0 4%;
  padding: 1%;
  border: solid 2px #33E5CF;
}

nav {
	display: inline-block;
	float: right;
}
nav li {
  	display: inline-block;
	float: left;
	list-style: none;
	margin: 20px 20px 10px 20px;
}

 nav ul {
   float: right;
 }

nav a {
	background: #57C1AD;
	color: white;
	padding: 20px 30px;
	border-radius: 5px;
}
a {
	text-decoration: none;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-1,
.color-2,
.color-3 {
	border: 1px solid #000;
	}

.color-1 {
	background: #57C1AD;
}

.color-2 {
	background: #33E5CF; 
}

.color-3 {
	background: #ed5b6d;
}

.pattern-1,
.pattern-2,
.pattern-3 {
	border: 3px solid #000;

	}